/.vs
/.vsconfig
/Library
/Logs
/obj
/Temp

# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Visual Studio / Rider
.vs/
.vscode/
*.csproj
*.sln
*.user
*.suo
*.tmp
*.pdb
*.opendb
*.VC.db

# OS generated
.DS_Store
Thumbs.db
